name: CI

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      run: pip install uv
    - name: Install dependencies with uv
      run: uv sync

    - name: Run Black
      uses: psf/black@stable
      with:
        options: "--check --diff"
        src: "."

    - name: Run Flake8
      uses: py-actions/flake8@v2
      with:
        path: "."

    - name: Run Isort
      uses: isort/isort-action@v3
      with:
        requirements: "uv.lock"
        args: "--check-only --diff"

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      run: pip install uv
    - name: Install test dependencies with uv
      run: uv sync
    - name: Run tests with uv
      run: PYTHONPATH=. uv run pytest
