name: CI

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      run: pip install uv
    - name: Install linting dependencies with uv
      run: uv sync
    - name: Run Black
      run: uv run black --check .
    - name: Run Flake8
      run: uv run flake8 .
    - name: Run Isort
      run: uv run isort --check-only .

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install uv
      run: pip install uv
    - name: Install test dependencies with uv
      run: uv sync
    - name: Run tests with uv
      run: PYTHONPATH=. uv run pytest
